.container {
    margin: 20px 80px;
    padding-right: 80px;
}

.font-label {
    border-top: 1px solid #dadce0;
    color: #5f6368;
    display: block;
    font-family: "GT America";
    margin-bottom: 20px;
    padding-top: 15px;
    position: sticky;
    text-transform: capitalize;
}

.row {
    margin-bottom: 30px;
}
