@import "../../scss/variables/colors";

.icon {
    height: 24px;
    width: 24px;
}

.x {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
}

// Leadership newsletter icon

.management-tip,
.daily-alert,
.leadership,
.best-of {
    flex-shrink: 0;
    height: 64px;
    width: 64px;
}

.icon-leadership-1 {
    fill: #0178cf;
}

.icon-leadership-2 {
    fill: #bfbfbf;
}

.icon-leadership-3 {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.875px;
}

.icon-leadership-6 {
    fill: #000;
}

// Management Tip of the Day newsletter icon

.icon-mgmt-tip-1 {
    fill: #ff9700;
}

.icon-mgmt-tip-2 {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.875px;
}

.icon-mgmt-tip-3 {
    fill: #fff;
}

.icon-mgmt-tip-4 {
    fill: #bfbfbf;
}

.icon-mgmt-tip-6 {
    fill: #000;
}

// Daily Alert newsletter icon

.icon-daily-alert-1 {
    fill: #ff4200;
}

.icon-daily-alert-2 {
    fill: #fff;
}

.icon-daily-alert-3 {
    fill: none;
    stroke: #bfbfbf;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}

.icon-daily-alert-4-cls {
    fill: #000;
}

.icon-daily-alert-5 {
    fill: #000;
}

// Best of the Issue newsletter icon

.icon-best-of-1 {
    fill: #ffb600;
}

.icon-best-of-2 {
    fill: #fff;
}

.icon-best-of-3 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.875px;
}

.icon-best-of-4 {
    fill: #bfbfbf;
}

.icon-best-of-5 {
    fill: #000;
}

.circle-arrow-right {
    height: 20px;
    margin-left: 5px;
    vertical-align: sub;
    width: 20px;
}

.circle-chevron-right {
    fill: #787878;
    height: 20px;
    margin-left: 5px;
    vertical-align: sub;
    width: 20px;
}

.arrow-right-nav {
    fill: #787878;
    height: 8px;
    width: 10px;
}

.for-you {
    height: 15px;
    margin-right: 6px;
    width: 15px;
}

.for-you-1 {
    fill: #fff;
}

.for-you-2 {
    fill: #ff6a00;
}

.for-you-3 {
    stroke: $color-charcoal;
}

.for-you-4 {
    stroke: $color-charcoal;
}

.for-you-5 {
    stroke: $color-charcoal;
}

.for-you-6 {
    stroke: $color-charcoal;
}

.for-you-7 {
    fill: #fff;
    height: 16px;
    width: 16px;
}

.magazine-1 {
    fill: #fff;
}

.magazine-2 {
    fill: #ff6a00;
    fill-opacity: "0.5";
}

.magazine-3 {
    fill: #ff6a00;
}

.magazine-4 {
    fill: #282828;
}
