# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
/.tmp

# dependencies
/node_modules

# tools
/.jsdoc/
/.yalc/
/yalc.lock
/.turbo

# testing
/.coverage

# next.js
/.next/
/.swc

#ide
/.idea
/.vscode

# misc
.DS_Store

# debug
chromatic.log
build-storybook.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pact.log*
pact/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
