.icon {
    display: inline-block;
    // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
    font-family: HBRIcons;
    -webkit-font-smoothing: antialiased;
}

.caret-down::before {
    content: "\e037";
}

.caret-right::before {
    content: "\e002";
}

.checkmark::before {
    content: "\e028";
}

.facebook::before {
    content: "\e021";
}

.twitter::before {
    content: "\e020";
}

.linkedin::before {
    content: "\e022";
}

.instagram::before {
    content: "\e085";
}

.rss::before {
    content: "\e083";
}

.share::before {
    content: "\e015";
}

.copy::before {
    content: "\e070";
}

.plus-circle::before {
    content: "\e003";
}

.checkmark-circle::before {
    content: "\e081";
}

.bookmark::before {
    content: "\e010";
}

.plus::before {
    content: "\e029";
}
