.square {
    align-items: center;
    background-color: #adff2f;
    display: flex;
    height: 230px;
    justify-content: center;
    width: 230px;
}

.rectangle {
    background-color: #adff2f;
    height: 90px;
    width: 970px;
}
