@import "../../scss/variables/fonts";

.textarea {
    border: 1px solid #ccc;
    font-family: $font-stack-sans-serif;
    font-size: 12px;
    height: 37px;
    margin-bottom: 16px;
    padding: 8px;

    &::placeholder {
        color: #000;
        opacity: 0.25;
    }
}

.label {
    cursor: pointer;
}
