@import "../../../scss/variables/fonts";

.btn {
    background-color: #111;
    border-radius: 3px;
    border-style: none;
    color: #fff;
    padding: 11px 16px 10px;
    transition: background-color 0.3s ease-out;
}

.text {
    font-family: $font-stack-sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 12px;
}
