@import "../../../scss/variables/colors";
@import "../../../scss/placeholders/a11y";

.input,
.btn {
    width: 100%;
}

.label {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.error {
    border-color: $legacy-color-red-light;
}

.input.error {
    margin-bottom: 0;
}

.text,
.link,
.btn {
    font-size: 14px;
    font-weight: 400;
}

.text {
    color: $color-charcoal-dark;
    line-height: 14px;
    margin-bottom: 12px;
}

.link {
    letter-spacing: 0.24px;
    line-height: 22.4px;

    &:not(:first-child) {
        margin-top: 6px;
    }
}

.link-black {
    color: $color-charcoal-dark;
}

.link-red {
    color: $color-hbr-red;

    &:hover {
        color: $legacy-color-maroon;
        opacity: 1;
    }
}

.link-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.error-message {
    color: $legacy-color-red-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.opt-in-message {
    color: $color-charcoal-dark;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 12px;
}

.checkbox-button {
    line-height: 1;
    margin-left: 10px;
    text-align: left;

    &:hover {
        opacity: 1;
    }
}

.loader {
    margin: 0 auto;
}

.captcha {
    margin-bottom: 16px;
}

.opt-in-checkbox {
    margin: 0 6px 0 0;
    width: 25px;
}

.opt-in-label {
    display: flex;
}
