@import "../../../scss/placeholders/a11y";
@import "../../../scss/variables/colors";

.input,
.btn {
    width: 100%;
}

.label {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.text,
.btn {
    font-size: 14px;
    font-weight: 400;
}

.btn {
    letter-spacing: -0.22px;
}

.text {
    line-height: 22.4px;
    margin-bottom: 12px;
}

.error {
    border-color: $legacy-color-red-light;
}

.error-message {
    color: $legacy-color-red-light;
    display: list-item;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    list-style-position: inside;
    list-style-type: disc;
    margin: 0;
    margin-top: -12px;
    padding-bottom: 4px;
}

.loader {
    margin: 0 auto;
}

.captcha {
    margin-bottom: 16px;
}
