@import "../../variables/fonts";

@font-face {
    font-display: swap;
    font-family: "Roboto Slab Thin";
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
    src: url("#{$font-path}/Roboto-Slab-Thin.ttf") format("truetype");
}
