@import "../../variables/fonts";

@font-face {
    font-family: "HBRIcons";
    font-style: normal;
    font-weight: normal;
    src: url("#{$font-path}/HBRIcons-Regular.woff2") format("woff2"),
        url("#{$font-path}/HBRIcons-Regular.woff") format("woff"),
        url("#{$font-path}/HBRIcons-Regular.ttf") format("truetype"),
        url("#{$font-path}/HBRIcons-Regular.svg#hbriconsregular") format("svg");
}
