@import "../../scss/variables/colors";
@import "../../scss/variables/media-queries";

.level-1 {
    border-bottom: 1px solid $legacy-color-gray-light;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -0.656px;
    line-height: 38px;
    margin: 0;
    padding-bottom: 11px;

    @media #{$medium-up} {
        font-size: 56px;
        letter-spacing: -0.875px;
        line-height: 50.4px;
        padding-bottom: 24px;
    }

    @media #{$large-up} {
        font-size: 64px;
        letter-spacing: -1px;
        line-height: 57.6px;
    }
}

.level-2 {
    font-size: 18.4px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 14px;

    @media #{$medium-up} {
        font-size: 21.2px;
        line-height: 23.2px;
    }
}
