@import "../../scss/variables/colors";
@import "../../scss/variables/media-queries";
@import "../../scss/mixins/media-queries";

.ad-container {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: inset 0 -3px 10px rgb(0 0 0 / 7%);
    box-sizing: initial;
    min-height: 50px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    text-align: center;
    z-index: 3;

    &.collapse-slot {
        height: 0;
        min-height: 0;
        padding: 0;
    }
}

.header {
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.07);
    font-feature-settings: "salt";
    letter-spacing: -0.17px;

    @media #{$medium-up} {
        position: relative;
    }
}

.placeholder {
    display: none;

    &-visible {
        display: block;
    }
}

.main-content {
    background-color: #fff;
    border-bottom: 1px solid $legacy-color-gray-light;
    box-sizing: border-box;
    display: flex;
    height: 73px;
    padding: 22px 22px 10px;
    position: relative;
    z-index: 1;

    @media #{$medium-up} {
        height: 85px;
        padding: 22px 40px;
    }
}

.hamburger {
    align-self: center;

    @media #{$medium-up} {
        align-self: flex-end;
    }

    &-icon {
        height: 31px;
        width: 26px;
    }
}

.search {
    display: none;

    @media #{$medium-up} {
        display: block;
    }
}

.user-menu-button {
    @media #{$medium-up} {
        display: block;
        padding-top: 3px;
    }
}

.logo {
    height: 30px;

    @media #{$medium-up} {
        height: 40px;
    }
}

.logo-container {
    align-self: center;
    border-left: 1px solid $legacy-color-gray-light;
    margin-left: 20px;
    padding-left: 20px;

    @media #{$medium-up} {
        margin-left: 40px;
    }
}

.sign-in,
.subscribe {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1em;
}

.subscribe-link-red {
    color: $color-hbr-red;
    display: none;
    margin-right: 24px;

    &:hover {
        color: $legacy-color-maroon;
        opacity: 1;
    }
}

.subscribe-button {
    background-color: #dc0000;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 14px;
    margin-right: 24px;
    padding: 11px 16px 10px;
    white-space: nowrap;

    &:hover {
        background-color: #a01e02;
        opacity: 1;
    }
}

@media #{$medium-up} {
    .subscribe-link-red {
        display: inline-block;
    }

    .subscribe-button {
        display: inline-block;
    }
}

.sign-in {
    align-items: flex-end;
    display: flex;
    height: 30px;
    margin-right: 6px;

    @media #{$medium-up} {
        display: inline-block;
        height: auto;
    }
}

.subscribe-sign-in {
    align-self: center;
    display: flex;
    letter-spacing: -0.17px;
    margin-left: auto;

    @media #{$medium-up} {
        border-right: 1px solid $legacy-color-gray-light;
        height: 40px;
        margin-right: 34px;
        padding-right: 30px;
    }
}

.sticky {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 85px;
    transition: top 0.25s ease-in-out;
    width: 100%;

    @media #{$large-up} {
        display: block;
    }

    &-hide {
        top: 0;
    }
}

.user {
    background-color: #fff;
    border: 0;
    color: $color-charcoal;
    cursor: pointer;
    display: flex;
    left: 7px;
    margin-left: 0;
    position: relative;
    top: -5px;

    &:hover {
        color: $legacy-color-gray-dark;
        opacity: 0.6;
    }
}

.cart {
    align-items: center;
    background-color: #fff;
    border: 0;
    color: $color-charcoal;
    cursor: pointer;
    display: flex;
    left: 0;
    margin-right: 32px;
    max-width: 25px;
    padding: 0;
    position: relative;

    @include screen-min-width($medium) {
        top: 0;
    }

    &:hover {
        color: $legacy-color-gray-dark;
        opacity: 0.6;
    }
}

.cart-image-size {
    max-height: 22px;
    max-width: 25px;
}

.cart-count {
    font-size: 16px;
    margin-bottom: -5px;
    margin-left: 5px;
}

.is-relative {
    position: relative;
}
