@import "../../../scss/variables/colors";
@import "../../../scss/variables/fonts";

$light-grey: #f7f7f7;
$medium-grey: #abafb0;

.btn {
    background-color: $color-charcoal-dark;
    border-radius: 3px;
    border-style: none;
    color: #fff;
    font-family: $font-stack-sans-serif;
    padding: 11px 16px 10px;
    transition: background-color 0.3s ease-out;
}

.btn-close {
    background-color: transparent;
    border-width: 0;
    float: right;

    &:hover {
        opacity: 0.8;
    }
}
