@import "../../../scss/variables/colors";
@import "../../../scss/variables/fonts";
@import "../../../scss/variables/media-queries";
@import "../../../scss/mixins/media-queries";

.header-menu {
    background-color: #fff;
    box-sizing: border-box;
    height: 100vh;
    z-index: 4;

    @include screen-min-width($medium) {
        height: auto;
    }
}

.link-black {
    color: $color-charcoal;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;

    &:hover {
        color: $legacy-color-gray-dark;
        opacity: 0.6;
    }
}

.menu-items {
    &.cart-menu-name {
        border-bottom: 1px $legacy-color-gray-light solid;
        display: block;
        padding-bottom: 24px;
    }
}

.flyout-title {
    font-family: $font-stack-sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-top: 28px;

    @include screen-min-width($medium) {
        color: $color-charcoal;
        font-weight: 600;
        padding-top: 0;
    }
}

.caret {
    display: none;

    @include screen-min-width($medium) {
        display: block;
        left: 57px;
    }
}

@keyframes flyout-fade-in-links {
    0% {
        margin-top: -30px;
        opacity: 0;
    }

    12% {
        margin-top: 15px;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.fade-in-flyout-links {
    animation-duration: 0.5s;
    animation-name: flyout-fade-in-links;
    transition-delay: 0.7s;
    transition-timing-function: ease-in-out;
}

.active {
    display: block;
    margin: 0;
}

.cart-items-container {
    border-bottom: 1px $legacy-color-gray-light solid;
    box-sizing: border-box;
    color: $legacy-color-gray-dark;
    display: flex;
    max-height: calc(90vh - 165.2px - 107px - 10px);
    min-height: calc(90vh - 165.2px - 107px - 10px);
    overflow-y: auto;
    padding: 12px 0;

    @include screen-min-width($medium) {
        height: max-content;
        max-height: 235px;
        min-height: auto;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.content-list-row {
    color: $legacy-color-gray-dark;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    padding: 12px 0;

    &:not(:last-child) {
        border-bottom: 1px $legacy-color-gray-light solid;
    }
}

.items-container {
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.cart-item-amount {
    color: $color-silver;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.cart-item-price {
    font-size: 16px;
    margin-left: 12px;
}

.cart-total {
    color: $color-silver;
    display: flex;
}

.cart-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6px;
    padding-top: 24px;
}

.cart-total-amount {
    font-size: 16px;
    font-weight: bold;
    margin: 2px 0 14px;
    padding: 0;
}

.button-tight {
    background-color: $color-hbr-red;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 11px 16px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 2px;
    white-space: nowrap;
    width: fit-content;

    &:hover {
        background-color: $legacy-color-maroon;
    }
}

.has-border-bottom {
    border-bottom: 1px $legacy-color-gray-light solid;
}

@keyframes fade-in-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeout-flyout--links {
    animation-duration: 0.4s;
    animation-name: fade-out-opacity;
    display: flex;
    flex-direction: column;
    transition-timing-function: ease-in-out;

    @include screen-min-width($medium) {
        animation: none;
    }
}

.opacity-0 {
    opacity: 0;
}

.fade-in-flyout--links {
    animation-duration: 0.4s;
    animation-name: fade-in-opacity;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;

    @include screen-min-width($medium) {
        animation-duration: 0.9s;
        animation-name: flyout-fade-in-links;
        flex-direction: column;
        transition-timing-function: ease-in-out;
    }
}
