@import "../../scss/variables/colors";

.checkbox {
    align-items: center;
    border: 1px solid $legacy-color-gray;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px;

    &:hover {
        box-shadow: 0 0 12px 0 rgba(50, 50, 50, 0.1);
    }
}

.checkmark {
    margin-left: 3px;
}

.label {
    align-items: center;
    cursor: pointer;
    display: flex;
}
