@import "../../../scss/variables/fonts";
@import "../../../scss/variables/colors";
@import "../../../scss/variables/media-queries";

@keyframes megamenu-columns {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    15% {
        transform: translateY(2px);
    }

    29% {
        transform: translateY(0);
    }

    37% {
        transform: translateY(-4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu-open-frames {
    0% {
        margin-top: -100%;
    }

    100% {
        margin-top: 0%;
    }
}

@keyframes menu-close-frames {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes close-megamenu-columns {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    94% {
        transform: translateY(-70px);
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes hide-search {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.mega-menu {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    content-visibility: auto;
    display: flex;
    flex-direction: column;
    font-family: $font-stack-sans-serif;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: width 0.4s ease-in-out;
    visibility: hidden;
    z-index: 4;

    @media #{$medium-up} {
        height: auto;
        position: absolute;
        transform-origin: top;
        transition: transform 0.4s ease-in;
        z-index: 2;
    }

    &.visible {
        visibility: visible;
    }
}

.menu-close {
    transition-delay: 0.3s;
    width: 0;

    @media #{$medium-up} {
        animation-delay: 0.4s;
        animation-duration: 0.6s;
        animation-name: menu-close-frames;
        width: 100vw;
    }
}

.menu-open {
    width: calc(100vw - 100px);

    @media #{$medium-up} {
        animation-duration: 0.6s;
        animation-name: menu-open-frames;
        width: 100vw;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;

    @media #{$medium-up} {
        margin: 0 auto;
        transition: none;
        width: 740px;
    }

    .menu-close & {
        opacity: 0;

        @media #{$medium-up} {
            opacity: 1;
        }
    }

    .menu-open & {
        opacity: 1;
        transition-delay: 0.4s;
    }
}

.search {
    .menu-close & {
        @media #{$medium-up} {
            animation-delay: 0.475s;
            animation-fill-mode: both;
            animation-name: hide-search;
        }
    }
}

.btn-close {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 36px;

    @media #{$medium-up} {
        align-self: flex-end;
        margin: 38px 40px 0 0;
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.short-links-list {
    list-style: none;
    overflow: auto;
    padding-left: 22px;
    padding-top: 36px;

    @media #{$medium-up} {
        display: none;
    }
}

.long-lists-container {
    display: none;
    justify-content: space-between;
    margin: 60px 0 69px;
    opacity: 1;
    transition: opacity 0.4s ease;

    @media #{$medium-up} {
        display: flex;
    }

    &.auto-suggest-open {
        display: none;
        opacity: 0;
    }
}

.long-list-container {
    width: 22%;
}

.long-links-list-item {
    line-height: 17px;

    &:not(:last-child) {
        margin-bottom: 7px;
    }
}

.list-title {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 19px;
}

.social-media-list {
    animation-delay: 0.6s;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    text-align: right;
    width: 8%;
}

.long-list-container,
.social-media-list {
    animation-duration: 0.7s;
    animation-fill-mode: both;
    transition-timing-function: ease-in-out;

    .menu-close & {
        animation-delay: 0s;
        animation-name: close-megamenu-columns;
    }

    .menu-open & {
        animation-name: megamenu-columns;
        opacity: 0;
    }
}

.long-list-container-1 {
    animation-delay: 0.4s;
}

.long-list-container-2 {
    animation-delay: 0.45s;
}

.long-list-container-3 {
    animation-delay: 0.5s;
}

.long-list-container-4 {
    animation-delay: 0.55s;
}

.social-media-list-item {
    line-height: 18px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.link {
    color: #000;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 67px;
    text-align: left;
    width: 100%;

    @media #{$medium-up} {
        display: inline;
        font-size: 14.4px;
        line-height: revert;
        width: auto;
    }
}

.overlay {
    background-color: #fff;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.8s ease-in-out;
    visibility: hidden;
    z-index: 3;

    @media #{$medium-up} {
        display: none;
    }

    &.show {
        opacity: 0.8;
    }

    &.visible {
        visibility: visible;
    }
}

.subscribe-container {
    padding-bottom: 35px;
}

.link-red {
    color: $color-hbr-red;

    &:hover {
        color: $legacy-color-maroon;
        opacity: 1;
    }
}

.subscribe-button {
    background-color: #dc0000;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin-right: 24px;
    padding: 11px 16px 10px;
    white-space: nowrap;

    &:hover {
        background-color: #a01e02;
        opacity: 1;
    }
}

.link-default {
    color: #000;
}
