@import "../../scss/variables/colors";
@import "../../scss/variables/fonts";
@import "../../scss/variables/media-queries";
@import "../../scss/mixins/media-queries";

@mixin common-recommended() {
    margin: 40px 20px 0;
    padding: 0 20px;
}

.recommended-container {
    @include common-recommended();

    &:not(.standard) {
        @include screen-min-width($medium-standard) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @include screen-min-width($medium-plus) {
            margin-left: 40px;
            margin-right: 40px;
        }

        @include screen-min-width($large-plus) {
            box-sizing: content-box;
            margin-left: auto;
            margin-right: auto;
            width: 860px;
        }
    }

    &.standard {
        @include screen-min-width($medium-standard) {
            margin-left: 40px;
            margin-right: 40px;
        }

        @include screen-min-width($large-standard) {
            box-sizing: content-box;
            margin-left: 0;
            width: 860px;
        }

        @include screen-min-width($x-large-standard) {
            /*
        Note: This values need to be updated when we implement the
        article content, as the Recommended section is aligned with such
        content in x-large screens.
        */
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.headline {
    border-bottom: 1px #e2e2e2 solid;
    font-family: $font-stack-sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    margin: 0;
    padding: 24px 0 16px;
    position: relative;

    @include screen-min-width($medium-standard) {
        margin-left: 18px;
        margin-right: 18px;
    }
}

.tiles-container {
    display: flex;
    flex-direction: column;
    position: relative;

    @include screen-min-width($medium-standard) {
        flex-direction: row;
    }
}

.recommended-item {
    border-bottom: 1px solid $legacy-color-gray-light;
    color: $color-charcoal;
    display: flex;
    flex-direction: row-reverse;
    font-family: $font-stack-sans-serif;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    padding: 16px 0;
    text-decoration: none;

    @include screen-min-width($medium-standard) {
        border-bottom: 0;
        flex: 1 1 0;
        flex-direction: column;
        font-weight: 400;
        line-height: 1.3;
        padding: 18px 18px 0;
    }
}

.recommended-image {
    height: auto;
    width: 112px;

    @include screen-min-width($medium-standard) {
        margin-bottom: 12px;
        overflow: hidden;
        width: 100%;
    }
}

.recommended-text {
    flex: 1;
    margin-right: 16px;

    @include screen-min-width($medium-standard) {
        width: 100%;
    }
}

.content-type {
    font-size: 12px;
    text-transform: uppercase;
}
