@import "../../../scss/variables/colors";
@import "../../../scss/variables/fonts";
@import "../../../scss/variables/media-queries";
@import "../../../scss/mixins/media-queries";

.link {
    color: $color-charcoal;
    font-size: 14.4px;
    margin-bottom: 16px;
    text-decoration: none;

    &:hover {
        opacity: 0.6;
    }
}

.link--black {
    color: $color-charcoal;

    &:hover {
        color: $legacy-color-gray-dark;
        opacity: 0.6;
    }
}

.menu--items {
    &.user-menu--name {
        border-bottom: 1px $legacy-color-gray-light solid;
        display: block;
        font-size: 14.4px;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }
}

.font-bold {
    font-weight: 700;
}

.flyout-title {
    padding-top: 24px;

    @include screen-min-width($medium) {
        margin-bottom: 7px;
        padding-top: unset;
    }
}

.caret {
    display: none;

    @include screen-min-width($medium) {
        bottom: 100%;
        display: block;
        fill: #fff;
        left: 142px;
        pointer-events: none;
        position: absolute;
        stroke: #ddd;
        top: -16px;
        width: 24px;
    }
}

@keyframes flyout-fade-in {
    0% {
        opacity: 0;
        top: 40px;
    }

    22% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 84px;
    }
}

@keyframes flyout-fade-in-links {
    0% {
        margin-top: 30px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes fade-out-flyout {
    0% {
        opacity: 1;
    }

    33% {
        margin-top: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        margin-top: -50px;
        opacity: 0;
        transform: translateY(-1rem);
        visibility: hidden;
    }
}

@keyframes close-menu-right-container {
    0% {
        margin-right: 0%;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-right: -100%;
        opacity: 0;
    }
}

@keyframes fade-in-overlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

.fade-in-flyout {
    animation-duration: 0.4s;
    animation-name: open-menu-right-container;
    animation-timing-function: ease-in-out;

    @include screen-min-width($medium) {
        animation-duration: 0.5s;
        animation-name: flyout-fade-in;
        transition-timing-function: ease-in-out;
    }
}

.fade-in-flyout--links {
    animation-duration: 0.4s;
    animation-name: fade-in-opacity;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;

    @include screen-min-width($medium) {
        animation-duration: 1s;
        animation-name: flyout-fade-in-links;
        background-color: transparent;
        flex-direction: column;
        transition-timing-function: ease-in-out;
    }
}

.fadeout-flyout--links {
    animation-duration: 0.4s;
    animation-name: fade-out-opacity;
    display: flex;
    flex-direction: column;
    transition-timing-function: ease-in-out;

    @include screen-min-width($medium) {
        animation: none;
    }
}

.opacity-0 {
    opacity: 0;
}

.active {
    display: block;
}

.subscriber-type {
    color: #787878;
    font-weight: 300;
}

.list-item {
    color: $color-charcoal;
    margin-bottom: 12px;
    margin-top: 45px;

    @include screen-min-width($medium) {
        margin-bottom: unset;
        margin-top: 12px;
    }
}

@keyframes fade-in-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
