@use "sass:math";
@import "../../scss/mixins/media-queries";
@import "../../scss/variables/fonts";
@import "../../scss/variables/colors";

$ad-spacing: 20px;
$page-padding: $ad-spacing;

@function container-width($columns, $page-padding) {
    $ad-width: 230px;

    @return $ad-width * $columns + $ad-spacing * ($columns - 1) + $page-padding *
        2;
}

@function container-height($rows) {
    $ad-height: 230px;

    @return $ad-height * $rows + $ad-spacing * $rows;
}

.container {
    margin: 30px 0;

    &.collapse-slot {
        display: none;
    }
}

.ad-container {
    display: flex;
    flex-wrap: wrap;
    height: container-height(4);
    justify-content: center;
    margin: 0 auto;
    width: container-width(1, 0);
}

.ad-slot {
    margin: math.div($ad-spacing, 2) 0;
}

.partner-center-title {
    color: $color-charcoal;
    display: block;
    font-family: $font-stack-sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 1;
    margin: 0 0 12px;
    text-align: center;
}

@include screen-min-width(container-width(2, $page-padding)) {
    .container {
        margin: 60px 0;
    }

    .ad-container {
        height: container-height(2);
        width: container-width(2, 0);
    }

    .ad-slot {
        &:nth-child(even) {
            margin-left: $ad-spacing;
        }
    }
}

@include screen-min-width(container-width(4, $page-padding)) {
    .ad-container {
        height: container-height(1);
        width: container-width(4, 0);
    }

    .ad-slot {
        &:not(:first-child) {
            margin-left: $ad-spacing;
        }
    }
}
