@import "../../../scss/variables/colors";
@import "../../../scss/variables/media-queries";

.nav {
    border-bottom: 1px solid $legacy-color-gray-lighter;
}

.link {
    color: $color-charcoal;
    font-size: 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 10px 0;

    li {
        line-height: 16px;
        padding-right: 30px;
        @media #{$large-up} {
            padding-right: 20px;

            &:last-child {
                padding-right: 0;
            }
        }
        @media #{$x-large-up} {
            padding-right: 30px;
        }
    }
}
